<% layout("/layouts/boilerplate")%>
<body>
    <h3>Create a new List</h3>
    <form method="POST" action="/listings"  novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]"  type="text" class="form-control" required/>
        </div>
        <div class="valid-feedback">Title looks good</div>
        <br><br>
         <div class="mb-3">
          <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" type="text" required></textarea>
         </div>
         <div class="invalid-feedback">keep description short</div>
        <br><br>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
        <input name="listing[image]" placeholder="enter image URL" type="text"/>
         </div>
        <br/><br>
        <div class="mb-3">
          <label for="price" class="form-label" >Price</label>
        <input name="listing[price]" placeholder="enter price" type="number" required>
         </div>
         <div class="invalid-feedback">enter valid price</div>
        <br/><br>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="enter location" type="text" required>
         </div>
         <div class="invalid-feedback">enter valid location</div>
        <br/><br>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="enter country" type="text" required>
         </div>
         <div class="invalid-feedback">enter valid country</div>
        <br/><br>
        <button class="btn btn-dark new-btn mb-3">ADD</button>
    </form>
</body>
